
SILO/\.vs/SILO/v14/\.suo

SILO/SILO/bin/Debug/SILO\.exe

SILO/SILO/bin/Debug/SILO\.pdb

SILO/SILO/obj/Debug/SILO\.csproj\.GenerateResource\.Cache

SILO/SILO/obj/Debug/SILO\.csprojResolveAssemblyReference\.cache

SILO/SILO/obj/Debug/SILO\.exe

SILO/SILO/obj/Debug/SILO\.pdb

SILO/SILO/bin/Debug/SILO\.db

SILO/SILO/bin/Debug/SILO - Copy\.db

SILO/SILO/bin/Debug/SILO - Copia Limpia\.db
